@import url('https://fonts.googleapis.com/css?family=Cinzel|Lora');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
* {
  margin: 0;
}

header {
  background: #ffffff;
  border: 10px solid #bf0c3d;
  font-family: 'Cinzel', serif;
  padding: 3%;
  text-align: center;
  font-size: 35px;
}

nav ul{
  list-style: none;
  text-align: center;
  background: #3e40c3;
}

nav li{
  display: inline-block;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  padding: 3%;
}

nav a{
  display: block;
  background:;
  width: 100px;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

main {
  font-family: 'EB Garamond', serif;
  margin: 2%;
  overflow: hidden;
  }

#img-div {
  max-width: 600px;
  margin: auto;
  padding: 0px 395px 0px 395px;
}

#image {
  height: auto;
  max-width: 590px;
  display: block;
}

#img-caption {
  color: white;
  font-size: 20px;
  margin: auto;
  max-width: 100%;
  text-align: center;
}

article image {
  max width: 100%;
  height: auto;
  display: block;
  }

article {
  background: #00205b;
  border: 1px solid black;
  padding: 1%;
  margin: 1%;
  max-width: 100%;
  float: right;
  text-align: center;
  display: block;
  }

.full-width { 
  width: 1390px;
}

.half-width {
  float: left;
  color: white;
  font-size: 20px;
  max-width: 45%;
  padding: 30px;
}

#tribute-link {
  color: #ff2037;
}

ul{
  padding: 0 0 0 30px;
}

li {
  text-align: left;
}

a {
  color: #ff2037;
}

.garden {
  border: 10px solid #bf0c3d;
  max-width: 85%;
}

.harry {
  border: 10px solid #bf0c3d;
  margin-left: 9%;
}

.girls {
  border: 10px solid #bf0c3d;
  max-width: 85%;
}

footer {
  background: #3e40c3;
  text-align: center;
  font-size: 20px;
  padding: 40px 40px 40px 40px;
  line-height: 150%
}
